<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class='navbar-brand' href='/'>Vape App</a>
    </div>
    <% if current_user %>
      <%= form_tag('/search', :method => "get", class:"navbar-left navbar-form", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
      <%= submit_tag "Search" %>
      <% end %>
    <% end %>
    <div class="nav navbar-nav navbar-right">
      <% if current_user %>
        <a href='/logout'><button class='btn btn-default navbar-btn'>Sign out</button></a>
      <% else %>
        <a href='/signup'><button class='btn btn-default navbar-btn'>Sign up!</button></a>
      <% end %>
    </div>
  </div>
</nav>
